.home-portfolio {
    margin: 8rem;
    @include flex-center;
    flex-direction: column;
    
    .portfolio-section {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 2rem;
    }
}