.section-heading {
    font-size: 3rem;
    text-align: center;
    width: max-content;
    display: flex; 
    gap: 10px;
    margin-bottom: 2rem;
    position: relative;

    .heading-span {
        display: block;
        background: $color-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &::after {
        position: absolute;
        content: "";
        width: 80%;
        border-color: $color-secondary transparent !important;
        border-style: solid !important;
        border-width: 4px 7px 0px 7px !important;
        left: 50%;
        top: 100%;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
    }
}

.gr-txt {
    background: $color-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
}

.heading-main, .heading-about {
    font-size: 4rem;
    text-align: center;
    line-height: 1.1;
}

.heading-main {
    span {
        display: block;
    }
}

.sub-heading {
    font-size: 3rem;
}