.about-hero {
  height: 400px;
  background-image: linear-gradient(to right, #05050548, #05050548),
    url(https://themescare.com/demos/faf-v2/assets/img/breadcrumb_bg.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 8rem;

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
      font-size: 4rem;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      max-width: 403px;
      text-align: left;
    }
  }

  @media (max-width: 800px) {
    background-position: left;
  }

  @media (max-width: 900px) {
    padding-left: 2rem;
  }
}
